layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane size="80%"
        pane {
            plugin location="file:/home/yyk/Projects/zellij-smart-tabs/target/wasm32-wasip1/debug/zellij-smart-tabs.wasm" {
                poll_interval "5"
                debug "true"
            }
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
